<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/materialize.min.css">
    <link href="css/dashboard.css" rel="stylesheet" />

    <!-- Javascript  -->
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="js/materialize.min.js"></script>

    <!-- Grafico -->
    <script src="js/Chart.bundle.min.js"></script>

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="#">

</head>

<body id="dashboard" onload="iniciar()">

    <div id="All" class="container-fluid">
        <div id="items" class="row">
            <div id="cont-map" class="col-6">
                <div id="card-map" class="card rounded-0 border-dark">
                    <div id="body-map" class="card-body">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
            <div id="cont-twitter" class="col-6">
                <div id="card-twitter" class="card rounded-0 border-dark">
                    <div id="body-twitter" class="card-body">

                    </div>
                </div>
            </div>
        </div>
        <div id="graph" class="row">
            <div id="cont-dash" class="col-12">
                <div id="card-dash" class="card rounded-0 border-dark">
                    <!-- <div id="header-dash" class="card-header rounded-0 border-danger">
                        <h5 class="card-title">Competidores</h5>
                    </div> -->

                    <!-- head -->
                    <div id="body-dash" class="card-body">
                        <table id="tabela" class="table">
                            <thead class="border-0 header">
                                <tr class="border-0">
                                    <th scope="col" class="border-0" style="margin: 0; padding: 0;">
                                        <ul class="indice">
                                            <li class="media">
                                                <i class="align-self-center mr-1 material-icons"
                                                    style="font-size: 25px; padding-left:37%">supervisor_account</i>
                                                <div class="media-body">
                                                    <span id="contador-pessoas"
                                                        style="font-size: 25px"><%- competidores.length %></span>
                                                </div>
                                            </li>
                                            <li class="descricao" style="padding-left: 37%; text-align: left">
                                                Pessoas
                                            </li>
                                        </ul>
                                    </th>
                                    <th scope="col" class="border-0" style="margin: 0; padding: 0;">
                                        <div class="row index">
                                            <div class="col-3 coluna">
                                                <div class="media">
                                                    <ul class="lista">
                                                        <li class="media">
                                                            <i style="font-size: 25px;"
                                                                class="align-self-center mr-2 material-icons icone">location_on</i>
                                                            <div class="media-body">
                                                                <span id="distancia-total"
                                                                    style="font-size: 25px">0m</span>
                                                            </div>
                                                        </li>
                                                        <li class="descricao">
                                                            Total
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-3 proximas">
                                                <div class="media">
                                                    <ul class="lista">
                                                        <li class="media">
                                                            <i style="font-size: 25px;"
                                                                class="align-self-center mr-2 material-icons icone">directions_run</i>
                                                            <div class="media-body">
                                                                <span id="velocidade-media"
                                                                    style="font-size: 25px">0.00</span>
                                                            </div>
                                                        </li>
                                                        <li class="descricao">
                                                            Media
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-3 proximas">
                                                <div class="media">
                                                    <ul class="lista">
                                                        <li class="media ritmo">
                                                            <i style="font-size: 25px;"
                                                                class="align-self-center mr-2 material-icons icone">whatshot</i>
                                                            <div class="media-body">
                                                                <span id="caloria-total"
                                                                    style="font-size: 25px">0kcal</span>
                                                            </div>
                                                        </li>
                                                        <li class="descricao">
                                                            Total
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-3 proximas">
                                                <div class="media dados">
                                                    <ul class="lista">
                                                        <li class="media ritmo">
                                                            <i style="font-size: 25px;"
                                                                class="align-self-center mr-2 material-icons icone">timer</i>
                                                            <div class="media-body">
                                                                <span style="font-size: 25px;">00:00</span>
                                                            </div>
                                                        </li>
                                                        <li class="descricao">
                                                            Tempo
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th scope="col" class="border-0">
                                        <h5 class="logo">Corporate Run</h5>
                                    </th>
                                </tr>
                            </thead>
                            <!-- body -->
                            <tbody style=" border-top: 2px solid #d9534f;">
                                <tr class="border-0">

                                    <% for(competidor in competidores) {  %>

                                    <td class="border-right border-top-0 border-danger pessoa">
                                        <div class="media">
                                            <div class="imagem">
                                                <img id="img<%- Number(competidor) + 1%>"
                                                    src="img/competidores/generic.png"
                                                    class="figure-img img-fluid mr-0">
                                                <div class="colocacao">
                                                    <%- Number(competidor)+1 %>°
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <div id="numero<%- Number(competidor) + 1%>" class="numero">
                                                    0
                                                </div>
                                                <div id="nome<%- Number(competidor) + 1%>" class="nome">
                                                    Unknown
                                                </div>
                                                <div id="sobrenome<%- Number(competidor) + 1%>" class="sobrenome">
                                                    Unknown
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="dado border-right border-top-0 border-danger">
                                        <div class="row dados">
                                            <div class="col-3 coluna">
                                                <div class="media mt-2">
                                                    <ul class="lista">
                                                        <li class="media">
                                                            <!-- "", "", "", "" -->
                                                            <i style="color:#673ab7"
                                                                class="align-self-center mr-2 material-icons icone">location_on</i>
                                                            <div class="media-body">
                                                                <span
                                                                    id="distancia<%- Number(competidor) + 1%>">0m</span>
                                                            </div>
                                                        </li>
                                                        <li class="descricao">
                                                            Distancia
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-3">
                                                <div class="media mt-2" style="margin-right: 200px">
                                                    <ul class="lista">
                                                        <li class="media">
                                                            <i style="color:#f4511e"
                                                                class="align-self-center mr-2 material-icons icone">directions_run</i>
                                                            <div class="media-body">
                                                                <span
                                                                    id="velocidade<%- Number(competidor) + 1%>">0.00</span>
                                                            </div>
                                                        </li>
                                                        <li class="descricao">
                                                            Velocidade
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-3 proximas">
                                                <div class="media mt-2">
                                                    <ul class="lista">
                                                        <li class="media ritmo">
                                                            <i style="color:#eeff41"
                                                                class="align-self-center mr-2 material-icons icone">whatshot</i>
                                                            <div class="media-body">
                                                                <span
                                                                    id="calorias<%- Number(competidor) + 1%>">0kcal</span>
                                                            </div>
                                                        </li>
                                                        <li class="descricao">
                                                            Calorias / Min
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-3 proximas">
                                                <div class="media dados mt-2">
                                                    <ul class="lista">
                                                        <li class="media ritmo">
                                                            <i style="color:#4caf50"
                                                                class="align-self-center mr-2 material-icons icone">timer</i>
                                                            <div class="media-body">
                                                                <span
                                                                    id="ritmo<%- Number(competidor) + 1%>">00:00</span>
                                                            </div>
                                                        </li>
                                                        <li class="descricao">
                                                            Ritmo
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="border-0">
                                        <div class="bar">
                                            <canvas id="graphBar<%- Number(competidor) + 1%>" height=55></canvas>
                                        </div>
                                    </td>
                                </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>

    var map

    $(document).ready(() => {
        carregar()
    })

    function iniciar() {
        setInterval(carregar, 10000)
    }

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -23.5911131, lng: -46.6475914 },
            zoom: 12,
            styles: [{
                "featureType": "poi",
                "stylers": [{
                    "visibility": "off"
                }]
            }],
            scrollwheel: false,
            disableDefaultUI: true
        });

    }

    function plottarGrafico(id, data) {

        new Chart(document.getElementById(id).getContext('2d'), {

            type: 'horizontalBar',
            data: {
                labels: ["Distancia (Km)", "Velocidade (Km/h)", "Calorias (cal)", "Ritmo (min)"],
                datasets: [
                    {
                        backgroundColor: ["#673ab7", "#f4511e", "#eeff41", "#4caf50"],
                        data: data,
                    }
                ]
            },
            options: {
                legend: { display: false },
                title: {
                    display: false,
                },
                scales: {
                    yAxes: [{
                        display: false,
                        barThickness: 15,
                        stacked: true,
                        minBarLength: 200
                    }],
                    xAxes: [{
                        display: false,
                        stacked: true
                    }],
                },
                animation: {
                    duration: 0 // general animation time
                },
                hover: {
                    animationDuration: 0 // duration of animations when hovering an item
                },
                responsiveAnimationDuration: 0
            }
        });
    }

    // Variaveis Globais
    var pace = 0
    var Velocidade = 0

    function iniciarMarcacao(infos) {

        var unique = infos.slice().reverse()

        var ponto = new google.maps.LatLng(unique[0].gps.lat, unique[0].gps.lng)
        var marker = new google.maps.Marker({
            position: ponto,
            map: map
        })

    }


    function carregar() {
        $.ajax({
            cache: false,
            url: '/dados/info',
            success: (dados) => {

                var todasInfosCompetidor = []

                let { participantes, infos, gps } = dados

                for (dado in participantes) {
                    for (info in infos) {
                        if (participantes[dado].nome == infos[info].nomeCompetidor) {
                            var gpsFiltered = gps.filter((value) => {
                                return value.devAdress === participantes[dado].devAdress
                            })

                            todasInfosCompetidor.push({ participante: participantes[dado], information: infos[info], gps: gpsFiltered })
                        }
                    }
                }

                definirColocacao(todasInfosCompetidor)
                plottarDados(todasInfosCompetidor)

            },
            error: (e) => {
                console.error('Error', e)
            }
        })
    }

    function calcularMomento(momento1, momento2) {
        return momento2 - momento1
    }

    function tranformarMomentoSegundos(momento) {
        var tempo = momento.split(':')
        var horas = tempo[0]
        var minutos = tempo[1]

        segundos = (Number(horas) * 3600) + (Number(minutos) * 60) + Number(tempo[2])
        return segundos
    }

    function filtrarHorario(momento) {
        var horas = momento.split('T')
        horas = horas[1].split('.')
        return horas[0]
    }

    function formatarDistancia(distancia) {

        if (distancia < 0) {
            return `${distancia}m`
        } else if (distancia < 1000) {
            return `${distancia}m`
        } else if (distancia % 1000 == 0) {
            return `${distancia / 1000}km`
        } else {
            console.log(`${parseInt(distancia / 1000)}.${parseInt((distancia % 1000) / 100)}km`)
            return `${parseInt(distancia / 1000)}.${parseInt((distancia % 1000) / 100)}km`
        }

    }

    function calcularVelocidade(distancia, tempo) {
        if (distancia <= 0 || tempo <= 0) {
            return (0).toFixed(2)
        } else {
            var velocidade = distancia / tempo
            return (velocidade * 3.6).toFixed(2)
        }
    }

    function calcularPace(distancia, tempo) {
        if (distancia <= 0 || tempo <= 0) {
            return `00:00`
        } else {
            var minutos = Number(tempo) / 60
            var quilometros = Number(distancia) / 1000
            var pace = minutos / quilometros
            if (pace < 10) {
                if (((pace * 60) % 60) < 10) {
                    return `0${parseInt(pace)}:0${parseInt(((pace * 60) % 60))}`
                } else {
                    return `0${parseInt(pace)}:${parseInt(((pace * 60) % 60))}`
                }
            } else {
                return `${parseInt(pace)}:${parseInt(((pace * 60) % 60))}`
            }
        }
    }

    function calcularCalorias(velocidade, peso) {
        var caloria = parseInt(Number(velocidade) * Number(peso)) * 0.0175
        if (caloria >= 1000) return `${parseInt(caloria / 1000)},${parseInt(caloria % 1000) / 100}Kcal`
        else return `${parseInt(caloria)}cal`
    }

    function definirColocacao(info) {
        function comparer(a, b) {
            if (a.information.distanciaTotal < b.information.distanciaTotal)
                return 1;

            if (a.information.distanciaTotal > b.information.distanciaTotal)
                return -1;

            return 0;
        }
        info.sort(comparer);
    }

    function conectar(id, value, type = 'inner') {
        if (type == 'inner') document.getElementById(id).innerHTML = value
        if (type == 'src') document.getElementById(id).src = value
    }

    function converterRitmo(ritmo) {

        var momento = ritmo.split(':')
        var minutos = Number(momento[0])
        var segundos = Number(momento[1])

        return minutos * 60 + segundos

    }

    function plottarDados(infos) {

        var velocidadeTotal = 0, caloriaTotal = 0, distanciaTotal = 0

        for (info in infos) {
            if (infos[info].gps.length != 0) {
                iniciarMarcacao(infos[info].gps)
            }

            var momentoInicialInicio = filtrarHorario(infos[info].information.momentoInicio),
                momentoAtualInicio = filtrarHorario(infos[info].information.momentoAtual),
                distancia = infos[info].information.distanciaTotal,
                momentoDiferenca = calcularMomento(tranformarMomentoSegundos(momentoInicialInicio),
                    tranformarMomentoSegundos(momentoAtualInicio))
            let velocidade = Number(calcularVelocidade(distancia, momentoDiferenca)),
                calorias = calcularCalorias(velocidade, infos[info].participante.peso),
                ritmo = calcularPace(distancia, momentoDiferenca)

            conectar(`img${Number(info) + 1}`, `/img/competidores/${infos[info].participante.foto}`, 'src')
            conectar(`nome${Number(info) + 1}`, infos[info].participante.nome)
            conectar(`sobrenome${Number(info) + 1}`, infos[info].participante.sobrenome)
            conectar(`numero${Number(info) + 1}`, infos[info].participante.numero)
            conectar(`distancia${Number(info) + 1}`, formatarDistancia(distancia))
            conectar(`calorias${Number(info) + 1}`, calorias)
            conectar(`velocidade${Number(info) + 1}`, (velocidade).toFixed(2))
            conectar(`ritmo${Number(info) + 1}`, ritmo)

            let calor = calorias.split('cal')
            velocidadeTotal += velocidade
            distanciaTotal += distancia
            caloriaTotal += Number(calor[0])

            let segundosRitmo = converterRitmo(ritmo)

            plottarGrafico(`graphBar${Number(info) + 1}`, [distancia / 1000, velocidade, Number(calor[0]), (segundosRitmo / 60).toFixed(2)])
        }
        conectar('velocidade-media', `${parseInt(velocidadeTotal) / infos.length}Km`)
        conectar('distancia-total', formatarDistancia(distanciaTotal))
        conectar('caloria-total', `${caloriaTotal}cal`)
    }



</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCER9PMT7J3e41ErfeOyB9MCBCZaELJEQU&callback=initMap" async
    defer></script>

</html>